.custom-slider {

  :global(.ant-slider-rail) {
    background-color: #f5f5f5;
  }

  :global(.ant-slider-track) {
    background-color: #f2385a !important;
    transition: background-color 0.3s ease;
  }

  :global(.ant-slider-handle)::after {
    background-color: #f2385a !important;
    box-shadow: 0 0 0 2px rgba(242, 56, 90, 0.2);
    transition: all 0.2s ease;
  }

  :global(.ant-slider-handle):hover::after {
    background-color: #de2352 !important;
  }

  :global(.ant-slider-handle):active::after {
    box-shadow: 0 0 0 4px rgba(242, 56, 90, 0.3);
  }

  &:hover :global(.ant-slider-track) {
    background-color: #fb275e !important;
  }
}
